<tr>
  <th>Title</th>
  <th></th>
  <th></th>
  <th></th>
</tr>
<% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :method => :delete,
    									 :remote => true,
    									 :confirm => 'Are you sure?',
    									 :class => 'remote_del',
    									 :'data-container' => 'categories-list' %></td>
  </tr>
<% end %>